@tailwind base;
@tailwind components;
@tailwind utilities;

.spacer {
  margin-top: 100vh;
  height: 100vh;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.baa-inner {
  width: 100vw; 
  height: 100vh; 
  position: fixed;  
  bottom: 0;   
  img {
    width: 100%;
    height: 100%;
  } 
  img:not(.sky) {
    object-fit: contain;  
  }  
  img.sky {
    object-fit: cover;  
  } 
}

/* sky container */
.baa-sky {
  height: 200vh;
  z-index: -7;
  width: 100%;
}

/* mountains bg */
.baa-bg {
  height: 65%;
  width: calc(100% + 100px);
  left: -50px;  
  right: auto;
  z-index: -2;
  img {
    object-position: bottom left;
  }
}
/* mountains bg */
.baa-fg {
  height: 85%;
  width: calc(100% + 100px);
  right: -50px;
  left: auto;
  z-index: 1;
  img {
    object-position: bottom right;
  }
}

/* mountains fg */
@media (max-width: 640px) { 
  .wrapper .baa-sky {
    height: 100vh;
  } 
  .baa-bg {
    height: 48%;
  } 
  .baa-fg {
    height: 42%;
  }
}